<a href="https://colab.research.google.com/github/FranGarcia9/Tareas-mod-2-Data-Science/blob/main/Copia_de_Challenge_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

## Crea un array con numeros del 1 al 10

In [ ]:
array = np.arange(11)
array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
# Resultado esperado
#> array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## Crea un array de 3x3 donde todos su valores sean `True`

In [ ]:
ones = np.ones((3,3))
ones

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
ones <= 1

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [ ]:
# Reultado esperado
#> array([[ True,  True,  True],
#>        [ True,  True,  True],
#>        [ True,  True,  True]])

## Extrae todos los numeros impares del siguiente array

In [ ]:
arr = np.arange(10)
print(arr)

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
arr[arr % 2 == 1]

array([1, 3, 5, 7, 9])

In [ ]:
# Resultado esperado:
#> array([1, 3, 5, 7, 9])

## Remplaza todos los numeros impares por  -1

In [ ]:
arr = np.arange(10)
print(arr)

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
arr[arr % 2 == 1]
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [ ]:
arr[arr % 2 == 1] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [ ]:
# Resultado esperado:
#>  array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

## Convierte un array de 1D a uno de 2D de dos filas

In [ ]:
arr = np.arange(10)
print(arr)

[0 1 2 3 4 5 6 7 8 9]

In [ ]:
arrr = np.array([[0,1,2,3,4], [5,6,7,8,9]])
arrr

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [ ]:
# Resultado esperado
#> array([[0, 1, 2, 3, 4],
#>        [5, 6, 7, 8, 9]])

## Extrae todos los numeros que se encuentren entre 5 y 10 del siguiente array

In [ ]:
arr = np.array([2, 6, 1, 9, 10, 3, 27])
print(arr)

[ 2  6  1  9 10  3 27]

In [ ]:
arr = arr[(arr > 5) & (arr < 11)]
arr

array([ 6,  9, 10])

In [ ]:
# Resultado esperado
#> (array([6, 9, 10]),)

## Intercambia de posicion la primera y la segunda columna de la siguiente matriz

In [ ]:
arr = np.arange(9).reshape(3,3)
print(arr)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [ ]:
z = arr[:, [1,0,2]]
z

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [ ]:
# Reultado esperado
#> array([[1, 0, 2],
#>        [4, 3, 5],
#>        [7, 6, 8]])

texto en negrita## Minimos cuadrados ordinarios

La siguiente es la formula para la regresion lineal de minimos cuadrados ordinarios

![image.png]()

En esa formula, las multiplicaciones son producto punto. (Recordando que el producto punto de dos matrices en numpy es `A.dot(B)` o `A @ B`)  
Las `T` en el superindice indican la transpuesta de la matriz  
Los `-1` en el superindice indican la inversa de una matriz.

La inversa de una matriz cuadrada `A` en numpy es `np.linalg.inv(A)`

Para los siguientes datos, calcula el estimador beta como se indica en la formula de minimos cuadrados ordinarios:

In [ ]:
X = np.array([
  [5, 7, 8],
  [1, 1, 3],
  [5, 0, 7],
  [7, 3, 4],
  [6, 7, 7],
  [6, 7, 9],
  [6, 1, 4],
  [9, 0, 0],
  [0, 5, 9],
  [2, 8, 6]])
y = np.array([3.5, 3.1, -18.8, 9.5, 18.5, 6.8, 0., 7.6, -11.2, 13.3])

In [ ]:
p = np.linalg.lstsq(X, y, rcond= 0)
p

(array([ 1.22232275,  4.04574544, -3.26763476]),
 array([144.07114672]),
 3,
 array([27.99381007, 11.2045571 ,  5.63954766]))

In [ ]:
# Resultado esperado
#> array([ 1.22232275,  4.04574544, -3.26763476])

Los valores reales eran `np.array([1, 4, -3])`, ¿es esta una buena estimacion?

Sí, son cercanos a los valores que resultaron